In [1]:
def gen(count):
    return 10
    yield 99


for i in gen(0):
    print(i)

In [2]:
g = gen(0)
g

In [3]:
def counter(count):
    while count > 0:
        yield count
        count -= 1
        
for i in counter(5):
    print(i)

5
4
3
2
1

In [4]:
def counter(count):
    while count > 0:
        yield count
        count -= 1

    return {1:11}


for i in counter(5):
    print(i)

5
4
3
2
1

In [5]:
cnt_gen = counter(5)
print(cnt_gen)

for _ in range(5):
    print(next(cnt_gen))

try:
    print(next(cnt_gen))
except StopIteration as err:
    print(repr(err))
    print(err)
    print('str=', err.__str__())

<generator object counter at 0x00000184D8914820>
5
4
3
2
1
StopIteration({1: 11})
{1: 11}
str= {1: 11}

In [27]:
def counter(count):
    while count > 0:
        diff = yield count
        print(f"in counter {diff=}")

        if diff is None:
            diff = 1

        count -= diff


cnt = counter(10)
print(next(cnt))

print(cnt.send(2))
print(cnt.send(5))

#cnt.throw(ValueError)

for i in cnt:
    print("for", i)

10
in counter diff=2
8
in counter diff=5
3
in counter diff=None
for 2
in counter diff=None
for 1
in counter diff=None

In [ ]:
def usual_function(x):
    if x > 0:
        return x + 1
    else:
        return x - 1

In [28]:
points = (1, 2, [])

In [29]:
points[0] = 3

TypeError: 'tuple' object does not support item assignment

In [31]:
points[2].append(3)
print(points)

(1, 2, [3, 3])

In [45]:
class UserImmutable:
    def __init__(self, val):
        self.val = val

    def __setattr__(self, name, val):
        print(f"{name=}, {val=}")
        raise TypeError('Immutable!!!')


user = UserImmutable("name")
user.val = "tree"  # Fail

name='val', val='name'

TypeError: Immutable!!!

In [43]:
user.__dict__

{'val': 'tree',
 '__setattr__': <bound method UserImmutable.fake__setattr__ of <__main__.UserImmutable object at 0x11055ef20>>}

In [44]:
user.val = "tre"

In [46]:
lst = [1, 2, 3]

if lst:
    print(lst)

[1, 2, 3]

In [48]:
lst = []

if lst:
    print(lst)
else:
    print('empty')

empty

In [51]:
res = () and (1, 2, 3)
print(res)

()

In [69]:
def print1():
    print(1)
#     return 111
    return None

    
def print2():
    print(2)
#     return 222
    return


print1() and print2()

1

In [71]:
print1() or print2()

1
2

In [72]:
def print1():
    print(1)
    return 111

    
def print2():
    print(2)
    return 222


print1() or print2()

1

111

## False

In [75]:
print(
    None or 0 or [] or {} or 0.0 or False
    or set() or () or "" or b"" or 42
)

42

In [76]:
if (
    None
    or 0
    or []
):
    pass

In [93]:
def fn(
    super_long=12,
    extra_super_long=9999999
):
    pass


res = fn(
    super_long=12,
    extra_super_long=9999999,
)

In [77]:
x = (1 + 1)
print(x)

2

In [78]:
x = (1 + 1,)
print(x)

(2,)

In [84]:
with (
    open('README.md') as xxx,
    open('README.md') as yyy,
):
    print(xxx, yyy)

<_io.TextIOWrapper name='README.md' mode='r' encoding='UTF-8'> <_io.TextIOWrapper name='README.md' mode='r' encoding='UTF-8'>

In [88]:
from sys import (
    getdefaultencoding,
    getrecursionlimit,
)

In [95]:
s = (
    "abc"
    "123"
)
print(s)

fn(
    "abc"
    "123"
)

abc123

In [60]:
[1] and [1, 2] and [1, 6] or []

[1, 6]

In [65]:
d = {}
if "key" in d and len(d["key"]) > 10 and d["key"][10] == "niddle":
    print("yes")
else:
    print("no")

no

In [66]:
d = {"key": ["niddle"] * 11}

if "key" in d and len(d["key"]) > 10 and d["key"][10] == "niddle":
    print("yes")
else:
    print("no")

yes

In [68]:
res = "key" in d and len(d["key"]) > 10 and d["key"][10]
print(res)

niddle

In [99]:
tp1 = (1, 2, [3, 4])
tp2 = (5, 6, [7, 8])

tp = tp1 + tp2
print(tp)

tp[2].append(99)
print(tp)
print(tp1)

(1, 2, [3, 4], 5, 6, [7, 8])
(1, 2, [3, 4, 99], 5, 6, [7, 8])
(1, 2, [3, 4, 99])

In [102]:
tuple("qwerty"), tuple([1, 2, 3])

(('q', 'w', 'e', 'r', 't', 'y'), (1, 2, 3))

In [104]:
lst = []
lst = list("qwerty")
print(lst)

['q', 'w', 'e', 'r', 't', 'y']

In [109]:
lst = []

lst.append('99')
print(lst)

lst.extend(tp2)
print(lst)

lst.append(tp2)
print(lst)

['99']
['99', 5, 6, [7, 8]]
['99', 5, 6, [7, 8], (5, 6, [7, 8])]

In [112]:
lst.remove(6)
print(lst)

['99', [7, 8], (5, 6, [7, 8])]

In [113]:
lst.remove(6)
print(lst)

ValueError: list.remove(x): x not in list

In [118]:
x = [1, 1, 1]
x.remove(1)
print(x)

[1, 1]

In [123]:
lst = [1, 2, 3, 4, 5]
lst.insert(0, 0)
lst.pop()
print(lst)

lst.pop(0)
print(lst)

lst.pop(0)
print(lst)

lst.pop(1)
print(lst)

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[2, 3, 4]
[2, 4]

In [124]:
lst = list(range(0, 10, 2))
print(lst)

[0, 2, 4, 6, 8]

In [129]:
lst = list(range(10))
print(lst)

print(lst[0:len(lst):1])
print(lst[:])

print(lst[1:6:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5]

In [134]:
lst = list(range(10))
print(lst, id(lst))

lst = [1, 10]
print(id(lst))

print('-------')

lst = list(range(10))
print('base', id(lst))

lst[:] = [1, 10]
print(lst, id(lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 4591239552
4591205952
-------
base 4579666560
[1, 10] 4579666560

In [137]:
lst = list(range(10))
print(lst)

lst[3:8] = [98, 99]
print(lst)

lst[:] = []
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 98, 99, 8, 9]
[]

In [139]:
lst = list(range(10))
print(lst)

lst[3:6:2] = [98, 99]
print(lst)

lst[3:6:2] = [98, 99, 100]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 98, 4, 99, 6, 7, 8, 9]

ValueError: attempt to assign sequence of size 3 to extended slice of size 2

In [143]:
lst = list(range(5))
print(lst)

for n in lst:
    print(n)

print('=====')

i = 0
while i < len(lst):
    print(lst[i])
    i += 1

[0, 1, 2, 3, 4]
0
1
2
3
4
=====
0
1
2
3
4

In [146]:
lst = list(range(5))
print(lst)

for i, n in enumerate(lst, 10):
    print(i, n)

[0, 1, 2, 3, 4]
10 0
11 1
12 2
13 3
14 4

In [155]:
dct1 = {}
dct2 = {1: 11, 2: 22}
dct3 = dict(q=33, w=44)

print(dct1, dct2, dct3)

dct4 = {**dct1, **dct2, **dct3}
print(dct4)

dct4[42] = 4422
print(dct4)
print(dct4[42])

print('pop', dct4.pop(42))
print(dct4)


print('pop', dct4.pop(42, "default"))
print(dct4)

print(42 in dct4, 1 in dct4)

{} {1: 11, 2: 22} {'q': 33, 'w': 44}
{1: 11, 2: 22, 'q': 33, 'w': 44}
{1: 11, 2: 22, 'q': 33, 'w': 44, 42: 4422}
4422
pop 4422
{1: 11, 2: 22, 'q': 33, 'w': 44}
pop default
{1: 11, 2: 22, 'q': 33, 'w': 44}
False True

In [165]:
dct = {1: 11, 2: 22, 0: 0}

for i in dct:
    print(i)
    
print('keys()')
for i in dct.keys():
    print(i)

print('values()')
for i in dct.values():
    print(i)
    
print('items()')
for key, val in dct.items():
    print(key, val)
    
print('\nenumerate()')
for i, val in enumerate(dct.items()):
    print(i, val)
    
print('\nenumerate()')
for i, (key, val) in enumerate(dct.items()):
    print(i, key, val)

1
2
0
keys()
1
2
0
values()
11
22
0
items()
1 11
2 22
0 0

enumerate()
0 (1, 11)
1 (2, 22)
2 (0, 0)

enumerate()
0 1 11
1 2 22
2 0 0

In [159]:
dct.keys()

dict_keys([1, 2])

In [169]:
dct = {1: 11, 2: 22, 0: 0}

print(dct[1])
print(99 in dct and dct[99])
print(dct.get(99))
print(dct.get(99, -1))

11
False
None
-1

In [172]:
class OurObj:
    def __bool__(self):
        return False

    
obj = OurObj()
print(obj or 99, obj and 99)


obj1 = object()
print(obj1 or 99)

99 <__main__.OurObj object at 0x111dc12d0>
<object object at 0x110f5b180>

In [177]:
# counter([1, 2, 3, 1, 4, 1, 4]) -> {1: 3, 2: 1, 3: 1, 4: 2}

def counter(nums):
    freq = {}

    for n in nums:
        if n in freq:
            freq[n] += 1
        else:
            freq[n] = 1

    return freq


assert counter([1, 2, 3, 1, 4, 1, 4]) == {1: 3, 2: 1, 3: 1, 4: 2}
assert counter([]) == {}
assert counter([1, 1, 1, 1]) == {1: 4}

In [181]:
# counter_k([1, 2, 3, 1, 4, 1, 4], 2) -> {1: 3, 4: 2}

def counter_k(nums, k):
    freq = {}

    for n in nums:
        if n in freq:
            freq[n] += 1
        else:
            freq[n] = 1

    return {n: fr for n, fr in freq.items() if fr >= k}


assert counter_k([1, 2, 3, 1, 4, 1, 4], 2) == {1: 3, 4: 2}
assert counter_k([], 1) == {}
assert counter_k([1, 1, 1, 1], 4) == {1: 4}
assert counter_k([1, 1, 1, 1], 5) == {}

In [196]:
lst = [4,7,23,45,7,8,6,3,1,4,6]
print(lst)

print(
    sorted(lst)
)

print(
    sorted(lst, reverse=True)
)

print(
    sorted(lst, key=str)
)
# (4, "4"), (7, "7"), (23, "23")


print(
    sorted(lst, key=str)
)
# (4, "4"), (7, "7"), (23, "23")

[4, 7, 23, 45, 7, 8, 6, 3, 1, 4, 6]
[1, 3, 4, 4, 6, 6, 7, 7, 8, 23, 45]
[45, 23, 8, 7, 7, 6, 6, 4, 4, 3, 1]
[1, 23, 3, 4, 4, 45, 6, 6, 7, 7, 8]
[1, 23, 3, 4, 4, 45, 6, 6, 7, 7, 8]

In [189]:
[(2, 1,)] < [(2,)]

False

In [192]:
"a" < "b", "abc" > "abb"

(True, True)

In [195]:
b"a" < b"b"

True

In [202]:
d = {1: 99, 2: 44, 3: 100, 5: 1, 6: 60, 7: 0, 8: 1, 9: 99}

print(list(d))

print(
    sorted(d, key=lambda x: d.get(x))
)

print(
    sorted(d, key=d.get)
)


print(
    sorted(d, key=lambda x: (d.get(x, -1), -x))
)

[1, 2, 3, 5, 6, 7, 8, 9]
[7, 5, 8, 2, 6, 1, 9, 3]
[7, 5, 8, 2, 6, 1, 9, 3]
[7, 8, 5, 2, 6, 9, 1, 3]

In [204]:
lst = list(range(10))
print(lst)

lst.sort(key=lambda x: (d.get(x, -1), -x))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 0, 7, 8, 5, 2, 6, 9, 1, 3]